* {
    margin: 0;
    padding: 0;

}


body {
    height: 9500px;
    width: 100%;
    background-color: rgb(40, 3, 3);
}

#navbarNav {
    margin-left: 37%;
}

/*    INTRO     */

.content_intro {
    background-image: url(../img/fundo\ tela\ inicial.png);
    background-color: rgb(32, 17, 46);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 4rem;

}

.logo_intro {
    height: 8rem;
}

.inscrever {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 3rem;
    background-color: #e0920a;
    font-weight: 700;
    font-size: large;
    color: #330523;
    animation: drop_shadow_botao 2s both infinite;
}

@keyframes drop_shadow_botao {
    0% {
        box-shadow: 0px 0px 2px #e0920a;
    }
    50% {
        box-shadow: 0px 0px 20px #e0920a;
    }
    100% {
        box-shadow: 0px 0px 2px #e0920a;
    }
}


/*  PRA QUEM */



.content_pra_quem {
    height: 40rem;
    background-color: #200115;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
    gap: 2rem;
}

.titulo_pra_quem, .galeria h1 {
    color: #98427a;
    font-size: 3rem;
}

.conteudo_pra_quem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.frame_pra_quem {
    height: 25rem;
    width: 30%;
    padding: 15px;
    border: solid 1px #98427a;
    font-size: 25px;
    color: #98427a;
    background-color: #43052c;
    border-radius: 1rem;
}

/*  O QUE VAI APRENDER */

.o_que_vai_aprender {
    height: 90rem;
    background: linear-gradient(0deg, #200115, #330523);
}

.aprender_content_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 55px;
}

.frame_aprender {
    height: 35rem;
    width: 25rem;
    border-radius: 1.5rem;
}

.aprender_foto_1 {
    background-image: url(../img/tatoo1\ 1.png);
}

.aprender_foto_2 {
    background-image: url(../img/tatoo2\ 1.png);
}

.frame_aprender_texto {
    height: 35rem;
    width: 35rem;
    font-size: 30px;
    color:  #98427a;
}

.frame_aprender_texto li {
    margin: 20px;
}

.galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.carousel-item {
    height: 25rem;
    width: 100%;
}



/*  DIFERENCIAIS DO CURSO */

.cabecalho_diferenciais {
    height: 4rem;
    background-color:  rgb(229, 189, 10);
}

.content_diferenciais {
    height: 30rem;
    background-image: url(../img/flashs.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista {
    height: 90%;
    width: 45%;
    background-color: #e1ab5488;
    border-radius: 2rem;
}
.botao_diferenciais{
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 4rem;
}

.conteudo_lista li {
    font-size: 1.2rem;
    margin: 1.2rem;
    font-weight: 700;
    color: #330523;
}



/*  CONSOLIDAÇÃO DA MARCA    */

.cabecalho_consolidacao {
    height: 4rem;
    background-color: #591212;
}

.content_consolidacao {
    /* background-image: linear-gradient(to right, transparent 0%, #000000 70%, #000000 80%, #000000 90%,  #000000 100%), url(../img/tatuador_2.jpg); */
    background-image: url("/src/img/tatuador_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    padding: 3rem;
    display: flex;
    justify-content: flex-end;
}

.pq_sou_melhor {
    height: 100%;
    width: 50%;
    background-color: #43052cbb;
    border-radius: 3rem;
    color: #98427a;
    padding: 25px;
    border: solid 1px #98427a;
    
}




/* REFORCO PONTO POSITIVOS */

.reforco {
    text-align: center;
    color: #98427a;
    height: 35rem;
    background: linear-gradient(0deg, #200115, #330523);
    padding: 2rem;
}

.compre_por_isso{
    display: flex;
    gap: 3rem;
    margin-bottom: 4rem;
}

.caps {
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.caixa_foto{
    height: 12rem;
    width: 15rem;
    border-radius: 1rem;
    background-color: #43052c;
    border: solid 1px #98427a;
    margin-bottom: 2rem;
}


/* ACESSAR CONTEUDO */

.cabecalho_acessar{
    height: 4rem;
    background-color: #591212;
}

.acessar_o_conteudo {
    background: linear-gradient(180deg, #200115, #330523);
    height: 25rem;
}


/* PROVA SOCIAL */

.prova_social {
    background: linear-gradient(0deg, #200115, #330523);
    color: #98427a;
}

.cabecalho_prova_social {
    height: 4rem;
    background-color: #E1AC54;
    margin-bottom: 4rem;
}

.span_prova_social{
    margin-top: 3rem;
    display: flex;
    gap: 8rem;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    height: 25rem;
}

.conteiner_compre_por_isso {
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.caixa_prova_social{
    height: 12rem;
    width: 18rem;
    border-radius: 1rem;
    background-color: #43052c;
    border: solid 1px #98427a;
    margin-bottom: 2rem;
}

.botoes_prova {
    text-align: center;
    padding-bottom: 4rem;
}


/* DIVISAO DOS MODULOS */

.cabecalho_divisao_modulos {
    height: 4rem;
    background-color: #591212;
    color: #E1AC54;
    margin-bottom: 4rem;
}

.divisao_modulos {
    height: 50rem;
    background: linear-gradient(0deg, #200115, #330523);
}

.modulos {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 75%;
    height: 13rem;
    margin: auto;
}

.span_modulo {
    display: flex;
    gap: 2rem;
    color: #98427a;
}

.imagem_modulo {
    height: 11rem;
    width: 17rem;
    border-radius: 1rem;
    background-color: #43052c;
    border: solid 1px #98427a;
}


/* COMPRE AGORA */

.cabecalho_compre_agora {
    height: 4rem;
    background-color: #E1AC54;
    color: #591212;
}

.container_compre_agora {
    height: 40rem;
    background-color: #1C0909;
    padding-top: 3rem;
}

.diferenciais_compre_agora {
    height: 34rem;
    width: 80%;
    margin: auto;
    background-color: #330523;
    border-radius: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0px;
}

.beneficios {
    background-color: #43052c;
    width: 90vw;
    height: 60%;
    margin: auto;
    top: 5rem;
    left: -5rem;
    position: absolute;
    text-align: center;
}


/* COMUNIDADE PERTENCIMENTO */

.comunidade {
    height: 50rem;
    width: 100%;
    background: linear-gradient(0deg, #200115, #330523);
}

.cabecalho_comunidade {
    height: 4rem;
    background-color: #591212;
    color: #431414;
}

.conteiner_comunidade {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20rem 20rem;
    grid-template-areas: 
    "item_1 item_2"
    "item_3 item_4";
}

.item_comunidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0 0rem 0;
}

.foto_comunidade {
    height: 15rem;
    width: 22rem;
    background-color: #43052c;
    border: 1px solid #98427a;
    border-radius: 2rem;

}

/* QUEM É karuna creator */

.quem_eh {
    width: 100%;
    height: 40rem;
    background: linear-gradient(0deg, #200115, #330523);
}


.cabecalho_quem_eh {
    height: 4rem;
    background-color: #591212;
    color: #E1AC54;
}

.container_quem_eh {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40rem;
    width: 100%;
}

.texto_quem_eh {
    width: 55%;
    color: #98427a;
}

.foto_quem_eh {
    background-image: url("/src/img/tatuador.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    height: 36rem;
}


/* perguntas */

.cabecalho_perguntas {
    height: 4rem;
    background-color: #591212;
    color: #E1AC54;
}

.perguntas {
    background: linear-gradient(0deg, #200115, #330523);
}

.card_perguntas {
    width: 90%;
    height: 60%;
    margin: 2rem auto;
}

.pergunta {
    background-color: #43052c;
    border: solid 1px #98427a;
    height: 3rem;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

.logo {
    height: 8rem;
    width: 20rem;
    background-image: url("/src/img/pseudo_logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.botoes_pergunta {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.logo {
    margin: auto;
}